Package: com.moxuan1121.clipboard
Name: clipboard
Version: 0.1.2
Architecture: iphoneos-arm64e
Description: iOS 15 剪贴板历史，保存文字和图片，支持自动粘贴。
Maintainer: moxuan1121
Author: moxuan1121
Section: Tweaks
Depends: firmware (>= 15.0), firmware (<< 16.0), mobilesubstrate, preferenceloader
